<h1><%= link_to "Todo App", "/todos" %></h1>

<div class="button-container">
  <%= link_to "Todo作成", "/todos/new",  class: "create-button"%>
</div>

<ul>
  <% @todos.each do |todo| %>
    <li>
      <p><%= todo.title %></p>
      <%= button_to "削除", todo_path(todo), method: :delete, class: "link-button" %>
    </li>
  <% end %>
</ul>