<h1><%= link_to "Todo App", "/todos" %></h1>

<div>
  <h2>タスク一覧</h2>
  <%= link_to "Todo作成", "/todos/new" %>
  <% @todos.each do |todo| %>
    <p><%= todo.title %></p>
    <%= button_to "削除", todo_path(todo), method: :delete %>
  <% end %>
</div>