<h1><%= link_to "Todo App", "/todos" %></h1>

<div>
  <h2>タスク作成</h2>

  <%= form_with model: @todo do |form| %>

    <div class="button-container">
      <div class="form-input"><%= form.text_field :title, placeholder: "New Todo..." %></div>
      <%= form.submit "追加", class: "link-button" %>
    </div>

  <% end %>

</div>